<!DOCTYPE html>
<html>
<head>
  <title>InventoryManagementSystem</title>         
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Tailwind CSS and other fonts -->
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <!-- Include your application stylesheet and custom styles -->
  <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  
  <%= javascript_importmap_tags %>
</head>

<body>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>
</html>
